.item-count {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-self: center;
}

.btn-buy {
  display: flex;
  flex-direction: column;
  min-width: 900px;
  max-width: 600px;
  align-self: center;
}
